/* Base Styling */
body {
    margin: 0;
    font-family: "avenir", "Helvetica Neue", sans serif;
    background-color: #fdfcf9;
    color: #333;
    transition: background 0.6s ease;
}

/* Cover Page */

#cover {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.6)
    ),
    url('https://www.transparenttextures.com/patterns/linen.png'),
    linear-gradient(120deg, #a3b18a, #dce1d1);
    background-blend-mode: overlay;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; text-align: center;
    color: #2d3a2a;
}
.cover-content h1 {
    font-size: 2.8em;
    margin-bottom: 0.3em;
}

.cover-content p {
    font-style: italic;
}

#openPlanner {
    background-color: #a3b18a;
    color: fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1.5em;
    transition: 0.3s;
}

#openPlanner:hover {
    background-color: #879775;
}
